html, body{
	height:100%;
}
body{
	background-color: #fafafa;
	font-family: "Montserrat", sans-serif;
}
.lobster{
	font-family: "Lobster", serif;
}

.word-wrap{word-wrap: break-word;}

.full-width{width:100%;}

.font-125{font-size:125%;}
.font-150{font-size:150%;}
.font-175{font-size:175%;}
.font-200{font-size:200%;}
.font-225{font-size:225%;}
.font-250{font-size:250%;}
.font-275{font-size:275%;}
.font-300{font-size:300%;}


header.row{
	background-color:white;
	border-bottom:1px solid gray;
	margin-bottom:0px;
	position:fixed;
	z-index:100;
	top:0;
	width:100%;
}

header h1{margin: 1.78rem 0 1.424rem 0}

header a{cursor:pointer; color:red;}

.wall h2{font-size:4.2em;}

div.container{padding:15px;}

.slider{
	background:url("../assets/img/back.jpg") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

